
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .room-details-item {
        display: block;
        position: initial;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 99999;
    }
</style>
<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Loại phòng</h2>
                    <div class="bt-option">
                        <a style="color: #aaaab3; " href="@Url.Action("Index", "Home")">Trang chủ</a>
                        <span style="color: #19191a;">Loại phòng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Room Details Section Begin -->
<section class="room-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="room-details-item">
                    <img style="width: 100%; margin-bottom: 35px;" src="../Assets/img/room/room-1.jpg" alt="">
                    <div class="rd-text">
                        <div class="rd-title">
                            <h3 style="margin-bottom: 18px;">Phòng hướng biển</h3>
                            
                        </div>
                      
                        <p class="f-para">
                            Với diện tích 38m², phòng Deluxe Twin là sự lựa chọn lý tưởng cho các cặp đôi, gia đình nhỏ hoặc du khách đi công tác. Phòng được thiết kế hiện đại với 2 giường đơn sang trọng, tích hợp đầy đủ tiện nghi để mang lại trải nghiệm lưu trú thoải mái. Với tầm nhìn hướng ra vườn và vị trí đắc địa ngay tại Bãi Cháy, phòng Deluxe Twin hứa hẹn mang đến không gian nghỉ ngơi lý tưởng cho du khách.
                        </p>
                    </div>
                </div>


            </div>
            <div class="col-lg-4">
                <div class="room-booking">
                    <h3>Tìm kiếm phòng</h3>
                    <form action="#">
                        <div class="check-date">
                            <label style=" color: #707079;" for="date-in">Ngày đến:</label>
                            <input type="text" class="date-input" id="date-in">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="check-date">
                            <label style="color: #707079;" for="date-out">Ngày đi:</label>
                            <input type="text" class="date-input" id="date-out">
                            <i class="icon_calendar"></i>
                        </div>
                        <div class="select-option">
                            <label style="font-size: 21px;" for="guest">Người lớn:</label>
                            <select id="guest">
                                <option value="">1 người lớn</option>
                                <option value="">2 người lớn</option>
                                <option value="">3 người lớn</option>

                            </select>
                        </div>
                        <div class="select-option">
                            <label style="font-size: 21px;" for="room">Trẻ em:</label>
                            <select id="room">
                                <option value="">1 trẻ em</option>
                                <option value="">2 trẻ em</option>
                                <option value="">3 trẻ em</option>
                            </select>
                        </div>
                        <button type="submit">Tìm kiếm</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row " id="searchRoom">
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="../Assets/img/room/room-1.jpg" alt="" class="room-item" data-room-id="id">
                    <div class="ri-text">
                        <h4 class="room-details">Phòng đơn hướng biển</h4>
                        <h3>2500000 đ<span>  /Đêm</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Diện tích:</td>
                                    <td>area m2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Số người:</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Phòng chống:</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex;">
                            <div style="flex: 1;" class="rating_room ">
                                <a class="reviews-open" data-room-id="id">Đánh giá</a>
                            </div>
                            <a style="cursor: pointer;" class="primary-btn bookingLink" data-room-id="id">Đặt phòng</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="../Assets/img/room/room-1.jpg" alt="" class="room-item" data-room-id="id">
                    <div class="ri-text">
                        <h4 class="room-details">Phòng đôi hướng biển</h4>
                        <h3>2500000 đ<span>  /Đêm</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Diện tích:</td>
                                    <td>area m2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Số người:</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Phòng chống:</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex;">
                            <div style="flex: 1;" class="rating_room ">
                                <a class="reviews-open" data-room-id="id">Đánh giá</a>
                            </div>
                            <a style="cursor: pointer;" class="primary-btn bookingLink" data-room-id="id">Đặt phòng</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="room-item">
                    <img src="../Assets/img/room/room-1.jpg" alt="" class="room-item" data-room-id="id">
                    <div class="ri-text">
                        <h4 class="room-details">Phòng gia đình hướng biển</h4>
                        <h3>2500000 đ<span>  /Đêm</span></h3>
                        <table>
                            <tbody>
                                <tr>
                                    <td class="r-o">Diện tích:</td>
                                    <td>area m2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Số người:</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td class="r-o">Phòng chống:</td>
                                    <td>2</td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex;">
                            <div style="flex: 1;" class="rating_room ">
                                <a class="reviews-open" data-room-id="id">Đánh giá</a>
                            </div>
                            <a style="cursor: pointer;" class="primary-btn bookingLink" data-room-id="id">Đặt phòng</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>