@model List<hotel_bookings.Models.news>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Tin tức</h2>
                    <div class="bt-option">
                        <a href="./home.html">Trang chủ</a>
                        <span>Blog Grid</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item set-bg" data-setbg="../Assets/img/news/@item.image">
                        <div class="bi-text">
                            <span class="b-tag">Chuyến đi du lịch</span>
                            <h4><a href="@Url.Action("NewsDetail", "News" ,new { id = item.id })">@item.title</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> 15th April, 2019</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->
