@model List<hotel_bookings.Models.content>


@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Blog Details Hero End -->
<!-- Blog Details Section Begin -->
<section class="blog-details-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="blog-details-text">

                    @*<div class="bd-pic">
                        <img src="~/Assets/img/news/news01.jpg" />

                    </div>*@
                    @*<div class="bd-pic">*@

                        @*@foreach (var item in Model)
                        {

                            <div class="bp-item">
                                <img style="width: 100%;" src="~/Assets/img/news/@item.image" />
                            </div>
                        }*@

                    @*</div>*@
                <div style="margin-top: 50px;" class="bd-more-text">
                    @foreach (var item in Model)
                    {
                        <div class="bp-item">
                            <img style="width: 100%; margin-bottom: 25px;" src="~/Assets/img/news/@item.image" />
                        </div>
                        <div class="bm-item">
                            <h4>@item.title</h4>
                            <p>
                                @item.detail
                            </p>
                        </div>
                    }


                </div>
                   

                </div>
            </div>
        </div>
    </div>
</section>

