@model List<hotel_bookings.Models.room_style>
@{
    ViewBag.Title = "AddRoom";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .successForm {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99999;
        justify-content: center;
        color: #dfa974;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('myForm');

        form.addEventListener('submit', function (event) {
            event.preventDefault(); // Ngăn chặn việc gửi form ngay lập tức

            const delay = 800; // Đặt thời gian chờ (3 giây)

            // Sử dụng setTimeout để trì hoãn việc gửi form
            setTimeout(() => {
                form.submit(); // Gửi form sau khi hết thời gian chờ
            }, delay);

            $('.successForm').fadeIn(); // Sửa từ 'fadein()' thành 'fadeIn()'
            setTimeout(function () {
                $('.successForm').fadeOut(); // Sửa từ 'fadeout()' thành 'fadeOut()'
            }, 800);
        });
    });

</script>

<div class="successForm ">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="card-body">
            <span class="dashboard-spinner spinner-md"></span>

        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        @*<div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Thêm Sản Phẩm</h3>
                    </div>
                </div>
            </div>*@
        <div class="card-body">
            <form id="myForm" action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <strong>Mã loại phòng</strong>
                            <select name="room_style_id" class="form-control">
                                @foreach (var item in Model)
                                {
                                    <option value="@item.id">@item.name</option>

                                }
                                <!-- Thêm các option khác nếu cần -->
                            </select>
                        </div>
                        <div class="form-group">
                            <strong>Tên phòng</strong>
                            <input type="text" name="name" class="form-control" placeholder="Nhập tên phòng">
                        </div>

                        <div class="form-group">
                            <strong>Số người lớn</strong>
                            <input type="text" name="adult" class="form-control" placeholder="Nhập số người">
                        </div>
                        <div class="form-group">
                            <strong>Số trẻ em</strong>
                            <input type="text" name="children" class="form-control" placeholder="Nhập số người">
                        </div>
                        <div class="form-group">
                            <strong>Giá phòng</strong>
                            <input type="text" name="price" class="form-control" placeholder="Nhập Giá phòng">
                        </div>
                        <div class="form-group">
                            <strong>Diện tích phòng</strong>
                            <input type="text" name="area" class="form-control" placeholder="Nhập diện tích phòng">
                        </div>
                        <div class="form-group">
                            <strong>Số lượng phòng</strong>
                            <input type="text" name="quantity" class="form-control" placeholder="Nhập số lượng">
                        </div>
                        <div class="form-group">
                            <strong>Mô tả phòng</strong>
                            <input type="text" name="description" class="form-control" placeholder="Nhập mô tả phòng">
                        </div>
                        <div class="form-group">
                            <strong>Ảnh phòng</strong>
                            <input type="file" name="ImageUpload" class="form-control">
                        </div>


                    </div>
                </div>
                <a href="@Url.Action("Index", "Room")" class="btn btn-light float-right" style="margin: 8px 0px;">Hủy</a>
                <button type="submit" class="btn btn-success mt-2 float-right" style=" margin: 2px 10px; ">Lưu</button>
            </form>
        </div>
    </div>
</div>


